* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.logo-container {
  background-color: rgb(237, 239, 241);
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}
.company-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-logo img {
  width: 100px;
}
.kenny-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.kenny-details img {
  width: 400px;
}
.company-name {
  color: tomato;
}
.lydia_section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(./images/slider-image2.jpg);
  background-size: cover;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.lydia_content {
  width: 50%;
  min-width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 0;
}
.lydia_content h3 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}
.lydia_content p {
  line-height: 1.7;
  color: #6d6d6d;
}
.lydia_content a {
  padding: 10px 30px;
  font-size: 13px;
  background-color: black;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
}
