* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.logo-container {
  background-color: rgb(237, 239, 241);
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}
.company-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-logo img {
  width: 100px;
}
.kenny-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.kenny-details img {
  width: 400px;
}
.company-name {
  color: tomato;
}
.lydia_section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(./images/slider-image2.jpg);
  background-size: cover;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.lydia_content {
  width: 50%;
  min-width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 0;
}
.lydia_content h3 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}
.lydia_content p {
  line-height: 1.7;
  color: #6d6d6d;
}
.lydia_content a {
  padding: 10px 30px;
  font-size: 13px;
  background-color: black;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
}
.SU1{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SU1 h1{
  margin-top: 100px;
  margin-bottom: 30px;
}
.SU1-text-container{
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.SU1-text{
  padding: 30px;
  background-color: gray;
  border-radius: 7px;
}
.SU1 img{
  height: 500px;
  /* width: 100%; */
  margin: 60px;
}


.truck-header {
    position: relative;
    background-image: url('./truck-img/img/ship-bg.webp');
    background-size: cover;
    color: #fff;
    background-position: center;
    object-position: center;
    padding-top: 230px;
    height: 620px;
}

.truck-header .overlay-truck {
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0, 0.5);
}

.truck-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.truck-details h1 {
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 10px;
}

.truck-details p {
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 10px;
}

.truck-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.truck-actions a {
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  background-color: #fda711;
}
.lorem_container{
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5%;
  gap: 60px;
  background-color: skyblue;
  height: 400px;
}
.lorem_content{
  width: 40%;
  height: 300px;
  background-color: rgb(19, 107, 142);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
